<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sistema de Pasajeros - Destinos</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">

        <h4 class="hero-section text-light ">Sistema : Pasajeros - Destinos - Bodega</h4>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/SistemaPasajero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/destinos">Nuevo Destino</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/pasajeros">Nuevo Pasajero</a>
            </li>
             <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/listarPasajeros">Pasajeros</a>
            </li>
             <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/listarDestinos">Destinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/listarMateriales">Materiales</a>
            </li>
               <li class="nav-item">
              <a class="nav-link hero-section text-light" href="/listarBodegas">Bodegas</a>
            </li>
<li class="nav-item"><a
						class="nav-link hero-section text-light"  th:href="@{/logout}">Cerrar sesión</a></li>
				</ul>
          </ul>
        </div>
      </div>
    </nav>
<header class="pt-5 mt-5">
<div class="container-fluid">

<section id="presentacion" class="container text-center my-5">
<h1>Bienvenidos al sistema gestion de destinos y bodegas , donde podra realizar sus operaciones
 </h1>
 
 </h6>
<img src="https://i.ibb.co/vBXrMJj/img-destinos.png">
</section>
</div>
</header>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>