<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error de autentificación</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">

        <h1 class="hero-section text-light ">Problema al ingresar</h1>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
</div>
</nav>
<header class="pt-5 mt-5">
<div class="container-fluid">

<section id="presentacion" class="container text-center">
<h1>Te agradecemos revices tus credenciales y vuelvas a intentar.
 </h1>
<img src="https://i.ibb.co/jZHhCRn/kisspng-sales-force-management-system-business-distributio-sfa-5b1531a7753306-9388929215281156234801.png" width="500" height="400" >

 <br></br>
 Si quieres volver a ingresar <a href="/login">Ingresa aca</a>
</section>
</div>
</header>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>