<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pagina de Noticias</title>
</head>
<body>

<head>
<meta charset="UTF-8">
<title>Productos</title>
<script
	src="
https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js
"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link
	href="
https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css
"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
<div class="container-fluid "><h1 class = "text-center">Pagina de Noticias</h1></div>


<div class="card border-dark text-white bg-dark container-fluid">
<div class="row">
 <div class="col-sm border-danger text-white bg-dark">
  <img th:src="${noticia1[2]}"  class="card-img-top"  alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title" th:text="${noticia1[0]}"></h5>
    <p class="card-text" th:text="${noticia1[1]}"></p>
    </div>
  </div>


<div class="card border-dark  col-sm text-white bg-dark">
  <img th:src="${noticia2[2]}"  class="card-img-top"  alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title" th:text="${noticia2[0]}"></h5>
    <p class="card-text" th:text="${noticia2[1]}"></p>
    </div>
</div>

<div class="card border-dark  col-sm text-white bg-dark">
  <img th:src="${noticia3[2]}"  class="card-img-top"  alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title" th:text="${noticia3[0]}"></h5>
    <p class="card-text" th:text="${noticia3[1]}"></p>
  </div>
</div>

<div class="card border-dark  col-sm text-white bg-dark">
  <img th:src="${noticia4[2]}"  class="card-img-top"  alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title" th:text="${noticia4[0]}"></h5>
    <p class="card-text" th:text="${noticia4[1]}"></p>
  </div>
</div>

<div class="card border-dark  col-sm text-white bg-dark">
  <img th:src="${noticia5[2]}"  class="card-img-top"  alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title" th:text="${noticia5[0]}"></h5>
    <p class="card-text" th:text="${noticia5[1]}"></p>
  </div>
</div>
</div>
</div>

</body>
</html>
</body>
</html>